:root {
    --verde : #f1be16;
    --blanco : #FFF;
    --rojo   : #c90909;
    --azul: #084246; /*color*/
    --oscuro : #000;
    --titulos : 'Arima Madurai', cursive;
    --parrafos : 'Mulish', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden;
}

*,*::after,*::before {
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}


.verde{
    color: var(--verde);
}

.rojo{
    color: var(--rojo);
}

.ocultar{
    display: none;
}

.btn-cerrar{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    top: 0;
    right: 50px;
    user-select: none;
}

.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
}


@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.btn-cerrar:hover{
    cursor: pointer;
}

h1, h2{
    font-family: var(--titulos);
}

h3, p, a{
    font-family: var(--parrafos);
}

.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}


@media(min-width: 768px){
    .btn{
        font-size: 2.2rem;
    }
}

.borders{
    border: 3px solid var(--blanco);
}

@media(min-width: 768px){
    .borders{
        border: 4px solid var(--blanco);
    }
}

.borders:hover{
    background-color: var(--blanco);
    color: var(--oscuro);
}

.btn-rojo{
    background-color: var(--rojo);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-azul{  /*color*/
    background-color: var(--azul);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}

.btn-azul:hover{ /*color*/
    background-color: rgb(78, 132, 139);
}



.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
}


.menu {
    padding-top: 5rem;
}


.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo h2,
.navegacion a{
    color: var(--blanco);
}

.logo h2{
    font-size: 3rem;
}

.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding-left: 4rem;
    padding: 1.5rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

.navegacion a:nth-child(even):hover{
    color: var(--rojo);
}

.navegacion a:nth-child(odd):hover{
    color: var(--verde);
}

.navegacion a:first-of-type{
    margin-top: 5rem;
}

.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}

.hamburguesa{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--blanco);
    display: block;
    width: 4rem;
    height: .5rem;
    margin-bottom: .5rem;
}

.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}


.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.texto-encabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px){
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

.contenedor-nosotros{
    padding-top: 15rem;
}

@media(min-width: 768px){
    .contenedor-nosotros{
        display: flex;
        justify-content: space-between;
    }
}

.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 4rem);
}

.texto-nosotros .bienvenido{
    font-size: 4rem;
    color: var(--verde);
    text-align: center;
}

@media(min-width: 768px){
    .texto-nosotros .bienvenido{
        text-align: left;
    }
}

.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
    margin: 0;
}

@media(min-width: 768px){
    .texto-nosotros h1{
        text-align: left;
    }
}

.texto-nosotros p{
    font-size: 2rem;
    text-align: center;
}

@media(min-width: 768px){
    .texto-nosotros p{
        text-align: left;
    }
}

.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagenes-nosotros img{
    border-radius: 5px;
}

.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}

.imagenes2{
    margin-bottom: 1rem;
}

/*platillos*/

.texto-platillos{
    text-align: center;
    font-size: 5rem;
}

.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}

@media(min-width: 768px){
    .botones-platillos{
        display: inline-block;
    }

    .botones-platillos button{
        flex: unset;
    }
}


@media(min-width: 768px){
    .platillos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.platillo{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
}

.platillo h2{
    text-align: center;
}

.platillo p{
    font-size: 1.8rem;
}

.precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio p{
    font-weight: bold;
    font-size: 2rem;
}

.precio button{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--rojo);
    color: var(--blanco);
    height: 3.8rem;
}

.separador{
    background-image: url('../assets/img/ensalada.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    margin: 4rem 0;
}

.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.contenido-separador{
    padding: 5rem;
}

.contenido-separador h2{
    font-size: 4rem;
    color: var(--blanco);
    text-align: center;
}

@media(min-width: 768px){
    .contenido-separador h2{
        text-align: left;
        font-size: 5rem;
        color: var(--blanco);
    }
}

.contenido-separador p{
    font-size: 3rem;
    color: var(--blanco);
    text-align: center;
}

@media(min-width: 768px){
    .contenido-separador p{
        font-size: 3rem;
        color: var(--blanco);
        text-align: left;
    }
}

/*seccion del chef*/

.chef{
    padding-top: 7rem;
    margin-bottom: 3rem;
}

.chef h2{
    background-color: var(--rojo);
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px){
    .contenido-chef{
        display: flex;
        justify-content: space-between;
    }
}

.texto-chef, .imagen-chef{
    flex: 0 0 calc(50% - 1rem);
}

.texto-chef h3{
    font-size: 3rem;
}

.texto-chef p{
    font-size: 2rem;
}

.formulario-contacto{
    padding-top: 10rem;
}
/*formulario y contacto*/

@media (min-width: 768px) {
    .formulario-contacto{
        display: flex;
    }
}



.informacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-contacto, .formulario{
    flex: 0 0 calc(50% - 1rem);
}

.informacion-contacto{
    background-color: var(--oscuro);
    padding: 5rem;
}



.informacion-contacto h3, 
.informacion-contacto p,
.redes-sociales i{
    color: var(--blanco);
}

.informacion-contacto h3{
    font-family: var(--titulos);
    font-size: 4rem;
}

.informacion-contacto p{
    font-size: 2rem;
}

.informacion-contacto i{
    margin-right: 1rem;
}

.redes-sociales i{
    font-size: 3rem;
}

.formulario{
    padding: 5rem;
}

.input-formulario label{
    display: block;
    font-size: 2rem;
    font-family: var(--parrafos);
    margin-bottom: 1rem;
}

.input-formulario input, .input-formulario textarea{
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-formulario input, .input-formulario textarea{
    padding: 1rem 1.6rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    font-family: var(--parrafos);
}

.input-formulario textarea{
    height: 15rem;
    resize: none;
}

.pie-pagina{
    margin-top: 5rem;
    background-color: var(--oscuro);
    padding: 5rem;
}

@media (min-width: 768px) {
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
}



.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}

.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}

.info h3{
    font-size: 2.2rem;
}

.info p{
    font-size: 1.8rem;
}

.redes-pie{
    text-align: center;
}

.info input[type="email"]{
    font-family: var(--parrafos);
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.info input[type="submit"]{
    padding: .5rem 2rem;
    font-size: 1.8rem;
    border-radius: 0;
}

.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 2rem;
}


.boton-inicio a {
    text-decoration: none;
    color: initial;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    transition: all .4s;
    font-weight: bold;
}

.boton-inicio a:hover {
    border: 2px solid white;
    color: white;
    background-color: rgb(68, 67, 67);
}

.nosotros {
    margin: 10rem 0;
    padding: 5rem 0;
    background-color: rgb(139, 60, 60);
}

.nosotros__container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    padding: 4rem 2rem;
}

.card__text {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__text h3{
    margin: 0;
    font-size: 4rem;
}



.card:nth-child(1)  {  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(22, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/sabor.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(21, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/sabor.webp); 
    background-repeat: no-repeat;  
    background-position: center center;
    background-size: cover;
    border-radius: 1.5rem;
    transition: all 0.4s;
}
.card:nth-child(1):hover  {
    transform: scale(1.10);
}


.card:nth-child(2)  {
    background: -webkit-linear-gradient(to right, hsla(22, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/calidad.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(21, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/calidad.webp); 
    background-repeat: no-repeat;  
    background-position: center center;
    background-size: cover;
    border-radius: 1.5rem;
    transition: all 0.4s;
}

.card:nth-child(2):hover  {
    transform: scale(1.10);
}

.card:nth-child(3)  {
    background: -webkit-linear-gradient(to right, hsla(22, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/experiencia.webp);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(21, 14%, 54%, 0.6), hsla(23, 43%, 8%, 0.6)),url(/assets/imgNosotros/experiencia.webp); 
    background-repeat: no-repeat;  
    background-position: center center;
    background-size: cover;
    border-radius: 1.5rem;
    transition: all 0.4s;
}
.card:nth-child(3):hover  {
    transform: scale(1.10);
}

.nosotros > h2 {
    text-align: center;
    margin: 2rem 0 4rem 0;
    font-size: 5rem;
    color: #FFF;
}

.misionVision {
    margin: 15rem 0;
}    

.misionVision___item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.misionVision__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}


.misionVision___text {
    width: calc(50% - 5rem);
}

.misionVision___text h3 {
    font-size: 4rem;
}
.misionVision___text p {
    font-size: 1.8rem;
}

.misionVision___img {
    width: calc(40% - 5rem);
}

.misionVision___text--revez {
    order: 1;
}

.misionVision___img--revez {
    order: 0;
}